<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Form</title>
</head>
<body>

<h2>Book Form</h2>

<form th:action="@{/books/save}" method="post" th:object="${book}">

    <input type="hidden" th:field="*{id}">

    Title: <input type="text" th:field="*{title}"><br><br>
    Author: <input type="text" th:field="*{author}"><br><br>
    Price: <input type="number" th:field="*{price}"><br><br>
    Date: <input type="date" th:field="*{publishedDate}"><br><br>

    Category:
    <select th:field="*{category.id}">
        <option th:each="c : ${categories}"
                th:value="${c.id}"
                th:text="${c.name}">
        </option>
    </select>

    <br><br>

    <button type="submit">Save</button>
</form>

<br>
<a href="/books">Back</a>

</body>
</html>